# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import pprint

# Import API key
from api_keys import g_key

In [2]:
g_key

'AIzaSyCEYZyAFOB3XX1VdXZHoPGyizzma1vL22E'

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [3]:

data2 = pd.read_csv("../output_data/weather_api.csv")
data2

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Ouango,4.3133,22.5552,69.33,69,68,3.83,CF,1645320869
1,1,Barrow,71.2906,-156.7887,-25.58,68,75,11.50,US,1645320697
2,2,Kruisfontein,-34.0033,24.7314,64.89,80,0,23.06,ZA,1645320870
3,3,Puerto Ayora,-0.7393,-90.3518,77.56,91,41,4.00,EC,1645320870
4,4,Ostrovnoy,68.0531,39.5131,28.26,93,100,11.14,RU,1645320870
...,...,...,...,...,...,...,...,...,...,...
521,521,Manubul,5.4732,120.7986,79.47,78,100,5.79,PH,1645321732
522,522,Belyy Yar,53.6039,91.3903,-7.71,77,100,2.24,RU,1645321732
523,523,Tual,-5.6667,132.7500,80.85,81,99,9.80,ID,1645321732
524,524,Takoradze,4.8845,-1.7554,78.94,88,22,8.81,GH,1645321733
525,525,Bolshaya Martynovka,47.2710,41.6679,38.39,74,100,15.64,RU,1645321733

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [4]:
i = 0
Lat_Lng_list = []
for i in range(len(data2)):
    Lat = data2["Lat"].loc[i]
    Lng = data2["Lng"].loc[i]
    Lat_Lng = Lat, Lng
    Lat_Lng_list.append(Lat_Lng)

In [5]:
locations = Lat_Lng_list
locations

[(4.3133, 22.5552),
 (71.2906, -156.7887),
 (-34.0033, 24.7314),
 (-0.7393, -90.3518),
 (68.0531, 39.5131),
 (-42.8794, 147.3294),
 (-20.0064, 57.6608),
 (-24.7911, -50.0119),
 (7.5264, -12.505),
 (41.3712, -73.414),
 (-23.1203, -134.9692),
 (36.5583, 104.2081),
 (-3.2833, 31.5258),
 (64.8378, -147.7164),
 (25.5198, 90.2201),
 (-5.0167, 32.8),
 (-5.6642, -37.7989),
 (37.8, -25.5833),
 (-53.15, -70.9167),
 (78.2186, 15.6401),
 (-20.4081, 57.7),
 (-21.3585, 55.7679),
 (39.1834, -84.5333),
 (-46.1333, 167.6833),
 (29.4608, -95.0513),
 (-33.9258, 18.4232),
 (-46.6, 168.3333),
 (68.1214, 13.5031),
 (65.6145, -37.6368),
 (-33.918, 25.5701),
 (-33.0117, 17.9442),
 (29.0605, -13.564),
 (-8.9266, 125.4092),
 (-54.8, -68.3),
 (42.097, -79.2353),
 (42.2506, -75.833),
 (-34.5322, 20.0403),
 (-9.0122, -35.2225),
 (-45.8667, -67.5),
 (-34.4187, 19.2345),
 (-20.3428, 57.7575),
 (64.8945, -23.7142),
 (59.3833, 143.3),
 (48.2333, 129.5),
 (5.4112, 100.3354),
 (38.5167, -28.7),
 (58.9664, 23.8911),
 (69.2167, -51.1),
 (-21.2, -175.2),
 (55.1667, 124.7167),
 (-23.7, 133.8833),
 (-29.6842, -53.8069),
 (-9.8, -139.0333),
 (38.421, -121.4238),
 (7.2429, -72.6294),
 (-33.0153, 27.9116),
 (-33.8667, 121.9),
 (42.6001, -73.9662),
 (69.4865, 88.3972),
 (35.7333, 140.8333),
 (70.4692, -68.5914),
 (5.6592, -53.7767),
 (62.456, -114.3525),
 (-38.0023, -57.5575),
 (62.487, 17.3257),
 (60.4667, 166.1),
 (20.4487, 121.9702),
 (71.9667, 102.5),
 (69.4541, -133.0374),
 (72.7868, -56.1549),
 (73.5069, 80.5464),
 (40.0444, -111.7321),
 (37.3394, -121.895),
 (55.7503, 38.0042),
 (43.6475, 111.9767),
 (38.8876, -76.5119),
 (64.8569, -147.8028),
 (60.4078, 57.082),
 (-0.7193, 8.7815),
 (68.75, 161.3),
 (-33.5906, 26.891),
 (66.4043, 14.5233),
 (70.6333, 147.9167),
 (-28.8667, 153.5667),
 (18.217, -63.0578),
 (-25.1667, 45.05),
 (55.4644, 43.1953),
 (46.4083, -105.8406),
 (28.017, -97.5169),
 (6.773, 79.8816),
 (70.0311, 20.9714),
 (22.0752, -159.319),
 (-43.3002, -65.1023),
 (-0.8917, 119.8707),
 (-34.5833, 150.8552),
 (43.2956, 132.4675),
 (64.5011, -165.4064),
 (53.0452, 158.6483),
 (57.79, -152.4072),
 (62.2266, -6.589),
 (-19.7697, -43.8514),
 (7.9803, 49.8164),
 (-41.15, 146.1667),
 (40.0936, 113.2914),
 (53.5102, 142.9671),
 (22.2855, 114.1577),
 (18.8003, 110.3967),
 (-34.7333, 135.8667),
 (-23.5333, 148.1667),
 (33.194, -82.5271),
 (25.3667, -108.1833),
 (71.6872, 128.8694),
 (-33.65, 115.3333),
 (51.226, -58.6502),
 (18.7369, 7.3853),
 (61.2767, 108.0108),
 (45.5234, -122.6762),
 (35.244, 60.6225),
 (65.282, -126.8329),
 (77.484, -69.3632),
 (-16.5167, -151.75),
 (-42.7826, 147.0587),
 (34.6851, 135.8049),
 (39.6957, 113.6871),
 (-2.8856, -40.12),
 (-10.75, -76.3),
 (54.7682, -101.865),
 (-8.4667, 140.3333),
 (-16.4833, -151.75),
 (50.7186, 25.8125),
 (55.9029, -3.5226),
 (-10.0, 39.7167),
 (37.25, 55.1672),
 (38.7333, -27.0667),
 (-22.9661, -42.0278),
 (26.5412, -77.0636),
 (-2.0226, 147.2712),
 (-17.5, 24.2667),
 (-2.4667, -78.1667),
 (-2.5744, 150.7967),
 (44.1105, 9.8434),
 (66.3167, -179.1667),
 (-46.1927, 168.8643),
 (-45.8742, 170.5036),
 (12.0564, -61.7485),
 (60.8697, 60.4153),
 (63.05, 179.3167),
 (50.6789, 156.125),
 (-13.2, 49.05),
 (5.3833, -52.95),
 (26.3544, 127.8686),
 (26.5579, 54.8807),
 (-25.2406, 130.9889),
 (63.4427, -20.2734),
 (38.9627, -9.4156),
 (-1.2675, 116.8289),
 (-27.5833, 153.3),
 (55.3422, -131.6461),
 (-24.7, 44.75),
 (32.45, 130.2),
 (59.7035, 30.7861),
 (50.6996, -127.4199),
 (-2.2717, 40.902),
 (46.0646, -118.343),
 (55.1001, -105.2842),
 (-41.4122, 175.5153),
 (71.0357, 27.8492),
 (20.5022, -10.0711),
 (37.4063, -1.5829),
 (29.5833, -9.5),
 (-21.2078, -159.775),
 (7.4167, 81.8167),
 (-31.95, 141.4333),
 (30.4833, -115.95),
 (18.7667, -95.7667),
 (37.8792, 114.6517),
 (46.4333, 26.4),
 (-19.55, 169.2667),
 (-11.0964, -77.6139),
 (64.3833, -173.3),
 (-46.2817, 169.8464),
 (-2.5833, 115.3833),
 (-15.1961, 12.1522),
 (28.6709, 75.0351),
 (46.5833, 22.55),
 (22.2006, 113.5461),
 (49.7502, -77.6328),
 (9.4942, 50.8122),
 (55.7435, -97.8558),
 (50.2334, -63.5986),
 (58.1286, 68.5944),
 (-10.6167, 150.6667),
 (-37.6167, -73.65),
 (39.8885, 4.2658),
 (60.1455, 16.1679),
 (45.6796, -111.0386),
 (52.4201, 136.4853),
 (17.0151, 54.0924),
 (-20.0167, 148.2333),
 (5.2767, 115.2417),
 (19.7297, -155.09),
 (3.0707, 172.7902),
 (58.3814, 97.4531),
 (60.7522, -137.5108),
 (21.4267, 39.8261),
 (-16.9167, 145.7667),
 (14.0453, 124.1694),
 (69.3, 139.9),
 (67.4667, 78.7),
 (25.3573, 55.4033),
 (48.0056, 91.6419),
 (7.7061, 122.1353),
 (58.965, -3.296),
 (-32.035, -52.0986),
 (64.8621, 11.2373),
 (35.1333, 140.3),
 (63.8424, -22.4338),
 (46.4856, 135.8833),
 (46.1711, 45.3435),
 (-13.7, -76.2167),
 (-16.5594, -42.8897),
 (-22.6667, 167.4833),
 (55.9711, 37.9208),
 (-28.783, 32.0377),
 (50.5881, 107.6022),
 (6.9956, -9.4722),
 (11.0297, 20.2827),
 (-6.1349, 12.3689),
 (67.6713, 53.087),
 (22.5667, 59.5289),
 (-15.8631, -38.8828),
 (31.4044, 30.4164),
 (-13.8483, 136.4192),
 (40.1292, 124.3947),
 (-16.2567, -56.6228),
 (68.2191, -135.0107),
 (-20.5167, 57.5167),
 (67.45, 153.6833),
 (37.15, 122.3833),
 (52.3195, 16.1284),
 (-8.103, 156.8419),
 (0.3546, 37.5822),
 (-2.6833, 111.6167),
 (24.8, 125.2833),
 (57.7177, 38.9334),
 (18.6853, 12.9164),
 (57.6935, 71.1665),
 (16.45, -85.85),
 (55.2103, 67.2442),
 (27.9769, -114.0611),
 (-3.2778, -39.2689),
 (-31.6333, -60.7),
 (-8.8432, 121.6623),
 (64.9225, 77.785),
 (6.8774, -6.4502),
 (-24.8667, 113.6333),
 (41.0242, -80.6628),
 (55.4627, -4.6339),
 (9.25, 0.7833),
 (32.6667, -17.1),
 (27.4327, 120.6062),
 (54.8339, 37.6264),
 (57.0813, 9.2664),
 (14.8961, -24.4956),
 (-1.195, -46.02),
 (-38.2667, 141.9667),
 (-7.95, 110.2833),
 (2.6708, 72.8944),
 (34.6391, -120.4579),
 (-35.3333, -72.4167),
 (-45.4167, 167.7167),
 (37.1041, -113.5841),
 (-19.5836, -65.7531),
 (60.1432, -45.2371),
 (48.3597, 43.0865),
 (-41.8697, -73.8203),
 (57.9944, 31.3608),
 (14.0833, 98.2),
 (43.15, 26.1667),
 (40.2833, 97.2),
 (20.8947, -156.47),
 (26.5851, 101.7128),
 (64.2539, -15.2082),
 (46.5644, 3.355),
 (35.9122, 116.3117),
 (-33.6971, -53.4616),
 (-28.65, 153.6167),
 (-35.1, 173.7833),
 (44.6667, 6.0),
 (50.5333, 2.6333),
 (57.0531, -135.33),
 (31.8972, 54.3675),
 (25.05, 61.7417),
 (-5.795, -35.2094),
 (37.7749, -122.4194),
 (17.9833, -102.2333),
 (24.3448, 124.1572),
 (55.2999, -123.1698),
 (9.4669, 125.5772),
 (-20.1883, 32.6236),
 (30.1669, -96.3977),
 (29.0331, 21.5482),
 (22.6783, -3.9836),
 (-25.9653, 32.5892),
 (-45.5752, -72.0662),
 (66.1451, -65.7125),
 (8.0086, -62.3989),
 (50.799, -1.0913),
 (15.9903, 101.0618),
 (65.0083, 53.9113),
 (13.9297, 41.6925),
 (34.8014, -106.5436),
 (3.35, 101.25),
 (42.7762, -9.0603),
 (56.9064, 118.2631),
 (-12.2333, 136.7667),
 (63.4453, 120.3167),
 (-8.145, 159.5921),
 (13.7667, 109.2333),
 (-0.9492, 100.3543),
 (60.3964, -1.353),
 (46.9896, 3.159),
 (53.8251, -101.2541),
 (-5.3582, 104.9744),
 (13.595, 100.8304),
 (45.7625, 106.2708),
 (9.4428, -78.5906),
 (47.0461, -67.7418),
 (-34.0527, 23.3716),
 (65.5833, -171.0),
 (-22.116, 14.2845),
 (49.2, 119.7),
 (-19.0595, -169.9187),
 (44.2408, 25.5886),
 (-37.8333, 140.7667),
 (64.75, 177.4833),
 (-23.1289, -52.3189),
 (66.7697, 123.3711),
 (54.9075, 65.0883),
 (4.4148, 114.0089),
 (30.5667, 79.5667),
 (10.3999, 5.4695),
 (15.7432, -96.4661),
 (36.9559, 36.2),
 (-3.6837, 39.8566),
 (70.6345, 29.7185),
 (50.7214, 136.6319),
 (40.4103, 26.6708),
 (54.4299, 31.8996),
 (14.35, 121.0167),
 (58.011, 49.1038),
 (25.0213, 37.2685),
 (28.6585, -17.9182),
 (-6.8844, 112.2051),
 (9.1019, -75.1951),
 (18.2, -73.75),
 (28.3669, 121.36),
 (22.6163, 120.3133),
 (59.2353, 163.0719),
 (43.65, 0.5833),
 (33.6103, -114.5964),
 (71.9167, 114.0833),
 (56.2875, 70.4555),
 (47.4736, -94.8803),
 (40.4165, 0.4271),
 (69.3833, 178.4167),
 (-34.0363, 23.0471),
 (41.7597, 86.1469),
 (32.4488, -81.7832),
 (38.4362, 57.4316),
 (-0.7167, -48.5233),
 (20.5083, -86.9458),
 (-3.2833, 36.9833),
 (-8.4667, 118.7167),
 (8.4109, 20.6473),
 (5.9485, 80.5353),
 (21.4612, -71.1419),
 (-28.3928, -49.3967),
 (43.7001, -79.4163),
 (-8.345, 113.6058),
 (-21.6403, -41.0511),
 (-41.8, 172.3333),
 (52.1514, -6.9861),
 (-2.65, 10.0),
 (-4.0667, -45.1667),
 (55.3556, 65.8467),
 (3.7833, 72.9667),
 (47.6666, -52.7314),
 (6.2106, 124.1894),
 (31.2089, 16.5887),
 (7.9986, 124.2928),
 (14.0211, 100.7343),
 (13.6017, 26.6876),
 (39.447, -86.1758),
 (40.7286, 124.7847),
 (11.7751, -72.4445),
 (10.9995, 122.6711),
 (20.5169, -13.0499),
 (16.9833, 79.9667),
 (41.7911, -107.2387),
 (48.0448, 40.045),
 (69.6496, 18.957),
 (-26.3667, -70.05),
 (13.2167, -59.5167),
 (16.8833, -95.0333),
 (10.346, 107.0843),
 (64.5667, 143.2),
 (-14.4667, 132.2667),
 (-1.8, -53.48),
 (0.5333, 72.9333),
 (51.3674, 110.4676),
 (15.7667, -92.2667),
 (-3.432, 10.6554),
 (-9.4467, -46.3003),
 (70.3705, 31.1107),
 (40.4723, 50.333),
 (-26.6481, 15.1594),
 (50.9416, -2.6321),
 (5.3505, 48.5268),
 (52.3882, -2.25),
 (51.3813, 1.3862),
 (41.2835, -70.0995),
 (69.3497, 87.7602),
 (41.4689, 34.7667),
 (45.1972, 33.3558),
 (-31.6308, -71.1653),
 (50.5994, 97.5228),
 (14.997, 102.6475),
 (53.1406, 140.73),
 (55.7028, 37.3822),
 (65.4167, -52.9),
 (11.0333, -63.8628),
 (61.67, 96.37),
 (52.9008, 36.8869),
 (-1.7656, -55.8661),
 (-20.9667, 164.7),
 (37.3482, 59.6143),
 (63.7506, -68.5145),
 (59.5667, 150.8),
 (13.0667, -59.5333),
 (49.7834, -74.8492),
 (69.7008, 170.3133),
 (-9.6567, 120.2641),
 (36.6177, -121.9166),
 (45.0564, 43.635),
 (56.7148, 10.1168),
 (9.9658, 98.6348),
 (8.1222, -63.5497),
 (60.7161, -135.0538),
 (20.7, -105.2),
 (51.6199, 73.1033),
 (34.9833, 139.8667),
 (-23.65, -70.4),
 (11.6667, 92.75),
 (46.6166, 10.7002),
 (18.7333, -103.6833),
 (6.1241, 81.1185),
 (40.217, -74.7429),
 (36.8529, -75.978),
 (-6.2167, 155.6333),
 (-31.5375, -68.5364),
 (1.1667, 108.9667),
 (-10.0681, -78.1522),
 (46.6806, 113.2792),
 (-0.9516, 122.7875),
 (40.5982, -124.1573),
 (21.25, -105.1667),
 (-13.7333, 15.0667),
 (-15.7667, 128.7333),
 (-0.6, 73.0833),
 (-23.2178, -44.7131),
 (-1.3959, 120.7524),
 (-30.0319, -70.7081),
 (-20.65, 166.5333),
 (24.6997, 70.177),
 (-7.3817, 108.2082),
 (-5.9294, -42.7186),
 (60.9167, -46.05),
 (63.4564, 48.8989),
 (-21.15, 149.2),
 (9.4515, 18.9449),
 (65.9811, 60.3094),
 (-8.8978, -35.1478),
 (7.6947, 126.5503),
 (53.5742, 52.7972),
 (-19.9842, 57.6142),
 (61.994, -49.6678),
 (-3.8004, 102.2655),
 (-8.6199, 122.2111),
 (45.1667, 10.7833),
 (-28.5708, -70.7581),
 (32.25, 67.25),
 (7.7669, -72.225),
 (35.5392, 106.6861),
 (30.153, -85.5699),
 (65.7, 82.4667),
 (53.3668, -104.0009),
 (65.9667, 78.3667),
 (42.0418, -70.6723),
 (29.1081, 21.2869),
 (67.8557, 20.2251),
 (66.0449, -17.3389),
 (-51.6226, -69.2181),
 (-3.6954, 128.1814),
 (16.3333, -15.0),
 (1.0, -52.0),
 (61.9875, 5.1352),
 (45.6169, -61.9986),
 (34.8791, -76.9013),
 (-18.9, -66.7667),
 (-20.2333, 164.0167),
 (43.1178, 5.8001),
 (2.3, 111.8167),
 (-31.4333, 152.9167),
 (27.2574, 33.8129),
 (7.9611, -6.6731),
 (-28.0, 153.4333),
 (42.1584, -72.3287),
 (64.1835, -51.7216),
 (24.4667, 54.3667),
 (66.8014, 65.8081),
 (5.4732, 120.7986),
 (53.6039, 91.3903),
 (-5.6667, 132.75),
 (4.8845, -1.7554),
 (47.271, 41.6679)]

In [6]:
fig = gmaps.figure()
heat_layer = gmaps.heatmap_layer(locations, weights=data2["Humidity"],
                                max_intensity=200, point_radius=30)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [28]:
pint = data2.loc[(data2["Max Temp"] < 80) & (data2["Max Temp"] > 70) & (data2["Wind Speed"] < 10) & (data2["Cloudiness"] == 0)].drop(columns="Unnamed: 0").reset_index()
hotel_df = pint.drop(columns="index")
hotel_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Santa Maria,-29.6842,-53.8069,70.90,73,0,3.44,BR,1645320878
1,Laguna,38.4210,-121.4238,71.44,34,0,3.44,US,1645320954
2,Beloha,-25.1667,45.0500,70.57,84,0,9.64,MG,1645320965
3,Ampanihy,-24.7000,44.7500,71.15,76,0,6.42,MG,1645321111
4,Sharjah city,25.3573,55.4033,72.25,58,0,5.75,AE,1645321039
5,Jiwani,25.0500,61.7417,70.03,52,0,2.19,PK,1645321340
6,La Orilla,17.9833,-102.2333,76.06,75,0,4.16,MX,1645321341
7,Blythe,33.6103,-114.5964,72.03,18,0,4.74,US,1645321426
8,Ixtapa,20.7000,-105.2000,74.43,73,0,5.75,MX,1645321349
9,San Juan,-31.5375,-68.5364,78.51,25,0,7.31,AR,1645321588
10,Zacualpan,21.2500,-105.1667,74.71,69,0,2.39,MX,1645321651
11,VicuÃ±a,-30.0319,-70.7081,71.76,57,0,1.16,CL,1645321653
12,Vallenar,-28.5708,-70.7581,72.55,57,0,2.44,CL,1645321661

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [29]:
params = {
    "radius" : 5000,
    "type" : "hotel",
    "key" : g_key,
    "keyword" : "hotel"
}

hotel_list = []

for index, row in hotel_df.iterrows():
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    Lati = row["Lat"]
    Long = row["Lng"]
    locations = f"{Lati},{Long}"
    params["location"] = locations
    response = requests.get(base_url, params=params).json()
    try:
        print(response["results"][0]["name"])
        hotel_list.append(response["results"][0]["name"])
    except IndexError: 
        print("error")

ItaimbÃ© Palace Hotel
Hampton Inn & Suites Sacramento-Elk Grove Laguna I-5
error
Angora Hotel
Al Majaz PremiÃ¨re Deluxe Hotel Apartments
Hamza hotel jiwani
Hotel de Casablanca
Quality Inn Blythe I-10
Flamingo Vallarta Hotel & Marina
Del Bono Park Hotel Spa & Casino
error
Solar Madariaga Hotel
Hotel Puerto de Vega

In [35]:
hotel_df["hotel_beta"] = pd.Series(hotel_list)
hotel_df["hotel_beta"]

0                                  ItaimbÃ© Palace Hotel
1     Hampton Inn & Suites Sacramento-Elk Grove Lagu...
2                                          Angora Hotel
3             Al Majaz PremiÃ¨re Deluxe Hotel Apartments
4                                    Hamza hotel jiwani
5                                   Hotel de Casablanca
6                               Quality Inn Blythe I-10
7                      Flamingo Vallarta Hotel & Marina
8                      Del Bono Park Hotel Spa & Casino
9                                 Solar Madariaga Hotel
10                                 Hotel Puerto de Vega
11                                                  NaN
12                                                  NaN
Name: hotel_beta, dtype: object

In [36]:
hotel_reorder = hotel_df[["hotel_beta"]].reindex([0,1,12,2,3,4,5,6,7,8,11,9,10])
hotel_reorder

                                           hotel_beta
0                                ItaimbÃ© Palace Hotel
1   Hampton Inn & Suites Sacramento-Elk Grove Lagu...
12                                                NaN
2                                        Angora Hotel
3           Al Majaz PremiÃ¨re Deluxe Hotel Apartments
4                                  Hamza hotel jiwani
5                                 Hotel de Casablanca
6                             Quality Inn Blythe I-10
7                    Flamingo Vallarta Hotel & Marina
8                    Del Bono Park Hotel Spa & Casino
11                                                NaN
9                               Solar Madariaga Hotel
10                               Hotel Puerto de Vega

In [37]:
pip = hotel_reorder["hotel_beta"].reset_index().drop(columns="index")
pip

                                           hotel_beta
0                                ItaimbÃ© Palace Hotel
1   Hampton Inn & Suites Sacramento-Elk Grove Lagu...
2                                                 NaN
3                                        Angora Hotel
4           Al Majaz PremiÃ¨re Deluxe Hotel Apartments
5                                  Hamza hotel jiwani
6                                 Hotel de Casablanca
7                             Quality Inn Blythe I-10
8                    Flamingo Vallarta Hotel & Marina
9                    Del Bono Park Hotel Spa & Casino
10                                                NaN
11                              Solar Madariaga Hotel
12                               Hotel Puerto de Vega

In [38]:
hotel_df["Hotel Name"] = pip
hotel_df = hotel_df.drop(columns='hotel_beta')
hotel_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
0,Santa Maria,-29.6842,-53.8069,70.90,73,0,3.44,BR,1645320878,ItaimbÃ© Palace Hotel
1,Laguna,38.4210,-121.4238,71.44,34,0,3.44,US,1645320954,Hampton Inn & Suites Sacramento-Elk Grove Lagu...
2,Beloha,-25.1667,45.0500,70.57,84,0,9.64,MG,1645320965,NaN
3,Ampanihy,-24.7000,44.7500,71.15,76,0,6.42,MG,1645321111,Angora Hotel
4,Sharjah city,25.3573,55.4033,72.25,58,0,5.75,AE,1645321039,Al Majaz PremiÃ¨re Deluxe Hotel Apartments
5,Jiwani,25.0500,61.7417,70.03,52,0,2.19,PK,1645321340,Hamza hotel jiwani
6,La Orilla,17.9833,-102.2333,76.06,75,0,4.16,MX,1645321341,Hotel de Casablanca
7,Blythe,33.6103,-114.5964,72.03,18,0,4.74,US,1645321426,Quality Inn Blythe I-10
8,Ixtapa,20.7000,-105.2000,74.43,73,0,5.75,MX,1645321349,Flamingo Vallarta Hotel & Marina
9,San Juan,-31.5375,-68.5364,78.51,25,0,7.31,AR,1645321588,Del Bono Park Hotel Spa & Casino
10,Zacualpan,21.2500,-105.1667,74.71,69,0,2.39,MX,1645321651,NaN
11,VicuÃ±a,-30.0319,-70.7081,71.76,57,0,1.16,CL,1645321653,Solar Madariaga Hotel
12,Vallenar,-28.5708,-70.7581,72.55,57,0,2.44,CL,1645321661,Hotel Puerto de Vega

In [39]:
hotel_df.drop([2,10], axis=0, inplace=True)
hotel_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
0,Santa Maria,-29.6842,-53.8069,70.90,73,0,3.44,BR,1645320878,ItaimbÃ© Palace Hotel
1,Laguna,38.4210,-121.4238,71.44,34,0,3.44,US,1645320954,Hampton Inn & Suites Sacramento-Elk Grove Lagu...
3,Ampanihy,-24.7000,44.7500,71.15,76,0,6.42,MG,1645321111,Angora Hotel
4,Sharjah city,25.3573,55.4033,72.25,58,0,5.75,AE,1645321039,Al Majaz PremiÃ¨re Deluxe Hotel Apartments
5,Jiwani,25.0500,61.7417,70.03,52,0,2.19,PK,1645321340,Hamza hotel jiwani
6,La Orilla,17.9833,-102.2333,76.06,75,0,4.16,MX,1645321341,Hotel de Casablanca
7,Blythe,33.6103,-114.5964,72.03,18,0,4.74,US,1645321426,Quality Inn Blythe I-10
8,Ixtapa,20.7000,-105.2000,74.43,73,0,5.75,MX,1645321349,Flamingo Vallarta Hotel & Marina
9,San Juan,-31.5375,-68.5364,78.51,25,0,7.31,AR,1645321588,Del Bono Park Hotel Spa & Casino
11,VicuÃ±a,-30.0319,-70.7081,71.76,57,0,1.16,CL,1645321653,Solar Madariaga Hotel
12,Vallenar,-28.5708,-70.7581,72.55,57,0,2.44,CL,1645321661,Hotel Puerto de Vega

In [40]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [41]:
# Add marker layer ontop of heat map
fig = gmaps.figure()

markers = gmaps.marker_layer(locations, info_box_content = hotel_info)
heat_layer = gmaps.heatmap_layer(locations, weights=hotel_df["Humidity"],
                                max_intensity=200, point_radius=30)
fig.add_layer(heat_layer)
fig.add_layer(markers)
fig

# Display figure

Figure(layout=FigureLayout(height='420px'))